aside.menu-area{
    background-color: var(--bg-dark-blue);
    box-shadow: var(--shadow-menu);
}

@media(max-width: 1222px) {
    .menu {
        height: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}