
:root {
    --size-md: 1222px;
    --size-sm: 576px ;

    --bg-dark-blue: #2e4057;
    --bg-light-blue: #3F8D73;
    --bg-light-green: #86f075;
    --bg-dark-green: #3e5641;
    --bg-light-red: #a24936;
    --bg-dark-red: #723325;

    --logo-height: 100px;
    --header-height: 100px;
    --menu-top-height: 70px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);

    --shadow-content-div:
        0 0 15px #0004;
}

*{
    box-sizing: border-box;
    font-family: "Montserrat", "sans-serif";
}

.text-dark-red{
    color:  var(--bg-dark-red);
}
.text-dark-blue{
    color: var(--bg-dark-blue);
}
.text-dark-green{
    color: var(--bg-dark-green);
}
.text-light-red{
    color:  var(--bg-light-red);
}
.text-light-blue{
    color: var(--bg-light-blue);
}
.text-light-green{
    color: var(--bg-light-green);
}

.bg-dark-red{
    background-color: var(--bg-dark-red);
}
.bg-light-red{
    background-color: var(--bg-light-red);
}
.bg-dark-green{
    background-color: var(--bg-dark-green);
}
.bg-light-green{
    background-color: var(--bg-light-green);
}
.bg-dark-blue{
    background-color: var(--bg-dark-blue);
}
.bg-light-blue{
    background-color: var(--bg-light-blue);
}

.btn-dark-red{
    background-color: var(--bg-dark-red);
    color: #fff;
}
.btn-light-red{
    background-color: var(--bg-light-red);
    color: #fff;
}
.btn-dark-green{
    background-color: var(--bg-dark-green);
    color: #fff;
}
.btn-light-green{
    background-color: var(--bg-light-green);
    color: #fff;
}
.btn-dark-blue{
    background-color: var(--bg-dark-blue);
    color: #fff;
}
.btn-light-blue{
    background-color: var(--bg-light-blue);
    color: #fff;
}

.btn-outline-dark-red{
    border: solid 2px var(--bg-dark-red);
    color: var(--bg-dark-red);
    background-color: #fff;
}
.btn-outline-light-red{
    border: solid 2px var(--bg-light-red);
    color: var(--bg-light-red);
    background-color: #fff;
}
.btn-outline-dark-green{
    border: solid 2px var(--bg-dark-green);
    color: var(--bg-dark-green);
    background-color: #fff;
}
.btn-outline-light-green{
    border: solid 2px var(--bg-light-green);
    color: var(--bg-light-green);
    background-color: #fff;
}
.btn-outline-dark-blue{
    border: solid 2px var(--bg-dark-blue);
    color: var(--bg-dark-blue);
    background-color: #fff;
}
.btn-outline-light-blue{
    border: solid 2px var(--bg-light-blue);
    color: var(--bg-light-blue);
    background-color: #fff;
}

.btn-outline-dark-red:hover{
    transition: all 0.5s;
    background-color: var(--bg-dark-red);
    color: #fff;
}
.btn-outline-light-red:hover{
    transition: all 0.5s;
    background-color: var(--bg-light-red);
    color: #fff;
}
.btn-outline-dark-green:hover{
    transition: all 0.5s;
    background-color: var(--bg-dark-green);
    color: #fff;
}
.btn-outline-light-green:hover{
    transition: all 0.5s;
    background-color: var(--bg-light-green);
    color: #fff;
}
.btn-outline-dark-blue:hover{
    transition: all 0.5s;
    background-color: var(--bg-dark-blue);
    color: #fff;
}
.btn-outline-light-blue:hover{
    transition: all 0.5s;
    background-color: var(--bg-light-blue);
    color: #fff;
}
/* Layout em Grid */

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas:
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #f5f5f5;
}

main > div {
    background-color: #fff;
    box-shadow: var(--shadow-content-div);
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}

.fa {
    font-size: 1.3rem;
}

.fa-spinner {
    vertical-align: middle;
    font-size: 1.2rem;
    color: var(--bg-dark-green);
}

.fa-edit { 
    color: var(--bg-dark-blue);
}

.fa-trash { 
    color: var(--bg-light-red);
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

@media(max-width: 1222px) {
    .app {
        grid-template-rows: 
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height)
        ;
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas: 
            "logo header"
            "menu menu"
            "content content"
            "footer footer"
        ;
    }
}

@media(max-width: 576px) {
    .app {
        grid-template-rows:
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--footer-height)
        ;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo logo"
            "menu menu"
            "content content"
            "footer footer"
        ;
    }
}
