table.table-striped {
    border-width: 0;
}

table.table-striped tbody {
    border-style: solid;
    border-color: black;
    border-width: 1px  0   0  1px;
}

table.table-striped td {
    border-color: black;    
    border-width:  0  1px 1px  0;
}        



th i {
    margin-left: 10px;
    color: var(--bg-dark-green);
}

th i:hover {
    color: var(--bg-dark-blue);
    cursor: pointer;
}

